legend {
	font-size: 1em;
	font-weight: bold;
	color: #F18B23;
	margin-bottom: 0px;
	border-bottom: 1px solid #C0C0C0;
}

body {
	background-color: #F1F1F1;
}

.form-control {
	font-size: 14px;
	color: #FFFFFF;
	background-color: #999999;
	border: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
}

.btn-primary {
	background-color: #428bca;
	border-color: #428bca;
}

.btn {
	border-radius: 0px;
}